@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --gray: #E5E7EB;
  --grey: #D1D5DB;
  --dark: #2E2E2E;
  --success: #3C7E44;
  --error: #CA3A31;
  --light-green: #EBFCEE;
  --black: #101010;
  --light: #6B7280;
  --box-shadow: 0px 2px 2px 0px #1F283705;
  --warning-text: #73321B;
  --warning-bg: #FCEED8;
  --passess-bg: #FCFCFD;
  --passess-text: #1F1F1F;
  --activity-bg: #FEF7EE;
  --activity-text: #575757
}

body {
  background: #FFFFFF;
}